body {
  background-color: var(--dark1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --highlight-color: rgb(0, 230, 122);
  --highlight-hover-color: rgb(4, 196, 106);
  --sky-color:#353434;
  --dark1: rgb(31, 30, 30);
  /* --dark1: rgb(255, 243, 243); */
  --dark2: rgb(27, 27, 27);
  --dark3: rgb(43, 42, 42);

  --gray1: rgb(71, 71, 71);
  --gray2: rgb(78, 78, 78);

  --cream-white: rgb(161, 161, 161);
}

[data-theme="light"] {
  /* --dark1: rgb(255, 255, 255); */
  --dark1: #00d5ff;
  --heading-color: rgb(43, 42, 42);
  /*--highlight-color: rgb(230, 226, 0);
  --highlight-hover-color: rgb(196, 180, 4); */
  --highlight-color: #00d5ff;
  --highlight-hover-color: #00d5ff;
  /* --sky-color:#00d5ff; */
  /* --sky-color:rgb(255, 255, 255);  */
  --sky-color:rgb(228, 197, 18); 
  --dark2: rgb(206, 206, 206);
  --dark3: rgb(149, 149, 149);

  --gray1: rgb(117, 115, 115);
  --gray2: rgb(121, 116, 116);

  --cream-white: rgb(255, 255, 255);
}